/* General */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que body y html ocupen toda la altura */
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* La altura mínima debe ser igual a la altura del viewport */
}

/* Contenedor principal */
.main-content {
  flex-grow: 1; /* Permite que el contenido principal crezca para llenar el espacio disponible */
  padding: 64px; /* Espaciado interno */
}

/* Footer */
.footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
}
